.vs
SanaCSharp02/PointsAverage/bin
SanaCSharp02/PointsAverage/obg
SanaCSharp02/QuadraticEquation/obg
SanaCSharp02/QuadraticEquation/bin
SanaCSharp02/SwitchValues/obg
SanaCSharp02/SwitchValues/bin
SanaCSharp02/While1/obg
SanaCSharp02/While1/bin